header{
  margin: 20px auto;
  max-width: 600px;
}
header .leftSide {
  margin: 15px;
}
.mugshot {
  width: 40%;
  img {
    width: 200px;
    border: 10px #d3eee1 solid;
    border-radius: 100px;
  }
}

#about {
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .first, .second {
    margin-bottom: 1em;
  }
  #resume {
    margin: 0 0 0.5em 0;
    color: black;
    cursor: pointer;
    font-size: 1.2rem;
  }
  li {
    list-style-type: none;
    display: inline;
  }
  a {
    font-size: 1rem;
    margin: 0 5px;
    color: #d3eee1;
  }
}