@media (max-width: 565px) {
    .mugshot img {
        width: 150px;
    }
}

@media (max-width: 414px) {
    .mugshot img {
        width: 130px;
    }
}

@media (max-width: 375px) {
    .mugshot img {
        width: 125px;
    }
    header .leftSide {
        margin: 0px;
    }
}